<.header>
  Painting <%= @painting.id %>
  <:subtitle>This is a painting record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/paintings/#{@painting}/edit"}>
      <.button>Edit painting</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @painting.name %></:item>
  <:item title="Dataarray"><%= @painting.dataarray %></:item>
</.list>

<.back navigate={~p"/paintings"}>Back to paintings</.back>
